<?php

$finder = PhpCsFixer\Finder::create()
    ->exclude('src/Model/PlayerPortal/PublicSchema/AutoStructure')
    ->exclude('var/')
    ->notPath('src/settings.php')
    ->in(__DIR__)
;

return PhpCsFixer\Config::create()
    ->setRules([
        '@PSR2' => true,
        'psr4' => true,
        'strict_comparison' => true,
        'strict_param' => true,
        'array_syntax' => ['syntax' => 'short'],
        'multiline_whitespace_before_semicolons' => [
            'strategy' => 'new_line_for_chained_calls',
        ],
        'no_whitespace_in_blank_line' => true,
        'no_unused_imports' => true,
        'declare_strict_types' => true,
        'single_quote' => true,
        'header_comment' => [
            'commentType' => 'comment',
            'location' => 'after_declare_strict',
            'separate' => 'bottom',
            'header' =>
'BZFlag Player Portal provides an interface for managing BZFlag
organizations, groups, and hosting keys.
Copyright (C) 2018  BZFlag & Associates

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as
published by the Free Software Foundation, either version 3 of the
License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with this program.  If not, see <https://www.gnu.org/licenses/>.'
        ]
    ])
    ->setFinder($finder)
;
