{% extends 'Layout/main.twig' %}

{% block content %}

<form method="post">
    <label for="login_username">Username: </label><br />
    <input type="text" name="username" id="login_username" /><br />
    <label for="login_password">Password:</label><br />
    <input type="password" name="password" id="login_password"><br />
    <input type="submit" value="Login" />
</form>

{% endblock %}